
.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4b79a1, #2998ff); /* Match the background gradient from home */
  }
  
  .upload-container {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: #1c1c1c; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }
  
  .upload-container h2 {
    font-size: 2rem;
    color: #ffffff; 
    margin-bottom: 20px;
    text-align: center;
  }
  

  .upload-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 1rem;
    color: #ffffff; 
  }
  

  .context-input, .file-input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #f5f5f5; 
    background-color: #d6d6d6; 
    color: #272020; 
    box-sizing: border-box;
  }
  
  .context-input {
    height: 120px;
    resize: vertical;
    font-size: 1rem;
  }
  
  .file-input {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-button {
    font-size: 1.2rem;
    padding: 12px 24px;
    color: #ffffff; 
    background-color:#ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .submit-button:hover {
    background-color: #f39c12; 
    transform: scale(1.05);
  }
  